<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Login Page</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
</head>
<body>
<h1>Spring boot - simple login</h1>
<div id="app-date">
    <span v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
    </span>
</div>
<div id="app-table">
<table cellpadding="1" style="background-color: #a0c6e5" >
    <tr>
        <td>Name:</td>
        <td><input type="text" v-model="name"/></td>
    </tr>

    <tr>
        <td>Password:</td>
        <td><input type="password" v-model="password"/></td>
    </tr>

</table>
    <input type="button" value="Login" v-on:click="login"/>
    <input v-model="message" />
</div>

<br/>
<font color="red" ><div id="app">{{message}}</div></font>
<br/>
<script src="js/login.js"></script>
</body>
</html>